<app-header></app-header>
<div class="padre">
  <div class="lista">
 <table class="table">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">Laboratorio</th>
      <th scope="col">Fecha solicitada</th>
      <th scope="col">Asignatura</th>
      <th scope="col">Docente</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let option of Peticiones">
      <td>{{option.Laboratorio}}</td>
      <td>{{option.FechaPedida}}</td>
      <td>{{option.Asignatura}}</td>
      <td>{{option.Docente}}</td>
    </tr>

  </tbody>
</table>
  </div>
</div>


