
.padre{
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.jumbotron{
    height: 100vh;
    padding: 0;
}
.izquierda{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../assets/Library2.jpg");
}

.derecha {
  
    background-color: rgb(255, 255, 255);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    width: 40%;
    height: 100%;
    padding: 5%;
}
/*.login
{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: rgba(182, 168, 196, 0.664);
    border-radius: 5%;
}*/
.escudo
{
   max-width: 230px;
   padding-top: 5%;
}
.unilibre
{
    max-width: 500px;

}
.boton
{
    background-color: rgb(226, 0, 26);
    border-color: rgb(226, 0, 26);
}
.h2
{
   color: #E2001A;
}
.f
{
    margin-top: 10%;;
}
.g
{
    margin-top: 2%;
}