<div class="jumbotron">
  <div class="padre">
    <div class="izquierda">
      <img class="unilibre" src="../../../assets/UniversidadLibre.png">
      <img class="escudo" src="../../../assets/unilibre.png" alt="">
    </div>
    <div class="derecha">
        <form [formGroup]="form" class="form">
          <h2 class="h2 f">Inicio de sesión</h2>
            <div class="form-group form">
              <label class="f" for="exampleInputEmail1">Correo</label>
              <input formControlName="username" type="email" class="form-control g" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Ingresa correo">
            </div>
            <div class="form-group f">
              <label class="f" for="exampleInputPassword1">Contraseña</label>
              <input formControlName="password" type="password" class="form-control g" id="exampleInputPassword1"
                placeholder="Ingresa contraseña">
            </div>
            <button (click)="onSaveClick()" [disabled]="!form.valid" type="submit"
              class="btn btn-primary boton f">Ingresar</button>
          </form>
    </div>
  </div>            
</div>